extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 = title
  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created to help people find places to sit down and
        get bit of work done.
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vestibulum arcu eros, aliquam vitae mattis sit amet, mollis sed metus.
        Nullam eget cursus libero, eu lacinia urna. Quisque aliquet
        mollis magna sed efficitur. Fusce rhoncus ex dapibus urna
        porta, in suscipit leo bibendum. Integer pellentesque
        justo nec dui porttitor ultricies. Proin vel neque consectetur,
        facilisis lorem ac, auctor metus. Aliquam sed feugiat sapien.
        Duis eu ante commodo, rutrum velit at, volutpat diam. Nulla ante
        diam, condimentum ac aliquet ac, lobortis ullamcorper lacus.
